<!DOCTYPE html>
<html>
<head>
  <title>Fluxus Generator</title>
</head>

<body bgColor="peachpuff">

  <font face= "Courier" size="6" color="steelblue">
  <center><h1>Fluxus Generator</h1><center>
    <div style="text-align: center;"><img src="https://c1.staticflickr.com/4/3602/3611978911_0f33230e69_b.jpg" alt="card" height="300" width="450"></div>

    <font face= "Arial" size="3" color="black">
    <center><div style="width:1200px;height:300px;border:1px solid #000;">{{ fluxus }}</div></center>

    <font face= "Courier" size="5" color = "purple">
<center><p><a href="/">Another Card</a></p></center>
</body>
</html>
